Seccion de Categorias: 
cada caja de categoria, la parte de arriba debe estar sobre la seccion anterior
<div>Hombre</div>
<div>Mujer</div>
<div>Niño</div>
<div>Niña</div>
<div>Bebé</div>
<div>Beba</div>