<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>Logo, con fondo transparente</div>
        <nav>Menu, con fondo transparente</nav>
        <div>Usuario/Inisiar Sesion, con fondo transparente</div>
        <div>Carrito, con fondo transparente</div>

    </header>
    <main>
        <section>
            Seccion Introductoria:
            <h1>Tienda de ropa</h1>
            <div>
                Imagenes autorecorridas con botones iz y der, que ocupe una pantalla. Estas imgs deben ser el fondo del header tmb
            </div>
        </section>
        <section>
            Seccion de Categorias: 
            cada caja de categoria, la parte de arriba debe estar sobre la seccion anterior
            <div>Hombre</div>
            <div>Mujer</div>
            <div>Niño</div>
            <div>Niña</div>
            <div>Bebé</div>
            <div>Beba</div>
        </section>
        <section>
            Seccion de Tendencias
        </section>
        <article>
            Quienes somos
        </article>
        <section>
            Logo whatsApp fijo abajo a la derecha
        </section>
        <footer>
            <div>Logo</div>
            <div>Contactos, redes sociales</div>
            <div>copyright</div>
        </footer>


    </main>

</body>
</html>