Seccion Introductoria: ................
<h1>Tienda de ropa, esto es obligatorio para que nos puedan encontrar por google</h1>
<div>
    Imagenes autorecorridas con botones iz y der, que ocupe una pantalla. Estas imgs deben ser el fondo del header tmb
</div>