
<div class="container">
    <div class="row align-items-center mt-4 mb-4">
        <h1 class="col">ROPA<br><br>INFANTIL</h1>
        <img class="col" src="https://cdn.pixabay.com/photo/2018/04/24/17/40/silhouette-3347559_960_720.png" >
    </div>
</div>