menu-option{
    display: inline-block;
    font-size: 13px;
    font-weight: 800;
    padding: 0;
    text-transform: uppercase;
    background: 0 0 !important;
    font-family: "Barlow Condensed";
    transition: all .2s ease-in-out 0s;
    position: relative;
    line-height: 28px;
    font-family: 'Heebo',sans-serif;
}