<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../parcials/head.ejs')%>
</head>
<body class="background-background">
    <header><%-include('../parcials/nav.ejs')%></header>
    <div class="container mt-4">
        <form>
            <div class="mb-3">
            <label class="form-label">User</label>
            <input type="email" class="form-control" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>

        </form>
    </div>

    <%-include('../parcials/bootstrap.ejs')%>
</body>
</html>