#products,#home,#contacts,#car,#log-in{
    font-weight: bolder; 
    color:#222;
}

.background-background {
    background-color: burlywood;
}

.footer-background {
    background-color: #222;
}
h4{
    color: black;
}

.login {
    margin: 14%;
}

.margin {
    margin: 8%;
}